:root {
  --primary-color: #ed3237; /* MedPlus Red */
  --secondary-color: #333;
  --text-color: #333;
  --light-gray: #f5f5f5;
  --border-color: #ddd;
  --green-success: #28a745;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  color: var(--text-color);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
